{% extends "blog/base.html"%}             <!--TO AVOID REWRITING OF THE SAME HTML CODE WE CAN DO THIS INSTEAD-->
{% block content %}

        {% for post in posts %}            <!--its should always have a end for or closing tag for for loops or if else .....-->
        <article class="media content-section">
                <div class="media-body">
                  <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                  </div>
                  <h2><a class="article-title" href={% url 'post-detail' post.id %}>{{ post.title }}</a>
                    <!-- <img class="kk" src= "{{ author.post.photo.url }}"> -->
                  </h2>  <!--{{....}}  these tags are used to print the variables-->
                  <p class="article-content">{{ post.content }}</p>
                </div>
              </article>              <!-- post is nothin but a object over here -->
        {% endfor %}

    <h1>My first genuine page!!</h1>


{% endblock content%}

<!-- If you are loading statically, when the file name is already determined, use: -->
<!-- /media/profile_pics/images.jpg  -->
